<h3>Responsáveis</h3>

<div class="campos-filtro">
    <input [(ngModel)]="responsavel.nome" type="text" placeholder="Digite o nome do responsável">
    <button pButton label="Filtrar" class="ui-button-success" (click)="listarResponsaveis()"></button>
</div>


<p-table *ngIf="responsaveis" [value]="responsaveis.content">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Data Nasc.</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-resp>
        <tr>
            <td>{{resp.nome}}</td>
            <td>{{resp.email}}</td>
            <td>{{resp.dataNascimento}}</td>
        </tr>
    </ng-template>
</p-table>